<p>Побаравте промена на лозинката за вашата сметка.</p>

<p>
  Отворете го овој линк за да внесете нова лозинка:
</p>

<p>
  <a href="<%= @reset_url %>"><%= @reset_url %></a>
</p>

<p>Ако не ја побаравте оваа промена, игнорирајте ја оваа порака.</p>

<p>
  Линкот истекува на:
  <strong><%= I18n.l(@password_reset.expires_at, format: :long) rescue @password_reset.expires_at %></strong>
</p>
